buildbot
__pycache__
_build
*~
.*.swp
*.pyc
*.kdev4

# closed data
data/domain/kicktionary/All_LUs.xml
data/domain/contextes_olst

# generated data
src/dump/
data/framenet_turpobarsed/

# examples
examples/in.conll
examples/in.txt
examples/in2.conll
examples/inEng.conll
examples/inEng.txt
examples/inEng2.conll
examples/inEngLIMA.conll
examples/out.conll
examples/outEng.conll
examples/outEngLIMA.conll
