[submodule "data/verbnet"]
	path = data/verbnet
	url = https://github.com/aymara/verbnet.git
	branch = pradet-fixes
[submodule "data/verbenet"]
	path = data/verbenet
	url = https://github.com/aymara/verbenet.git
[submodule "src/nltk"]
        path = src/nltk
        url = https://github.com/pquentin/nltk.git
